<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
</head>
<body>
    <h1>Kitchening</h1>
    <header>
        <img src="/img/logo.jpg" alt="">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="/img/img-banner.jpg" alt="">
        </div>
        <div>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="">
                    <img src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="">
                    <img src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="">
                    <img src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="">
                    <img src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="">
                    <img src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="">
                    <img src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab vitae, doloribus tenetur unde culpa eos adipisci.</p>
                <a href="">ver más</a>   
            </article>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>